.container {
    display: flex;
    flex-flow: column wrap;
    height: 700px;
}

.img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.green {
    border: 5px solid green;
}

.yellow {
    border: 5px solid yellow;
}

.red {
    border: 5px solid red;
}